{% set isNameEmpty = trans("CeresAgri::Template.itemList" ~ itemListNo ~ "ListName") == 'Name' or
                     trans("CeresAgri::Template.itemList" ~ itemListNo ~ "ListName") is empty %}

{% if listType == "last_seen" %}
    {% if isNameEmpty %}
        {% set header = trans("CeresAgri::Template.itemListLastSeen") %}
    {% else %}
        {% set header = trans("CeresAgri::Template.itemList" ~ itemListNo ~ "ListName") %}
    {% endif %}
{% elseif listType == "cross_selling" %}
    {% if isNameEmpty %}
        {% set header = trans("CeresAgri::Template.itemListX" ~ config("Ceres.item.lists.cross_selling_type")) %}
    {% else %}
        {% set header = trans("CeresAgri::Template.itemList" ~ itemListNo ~ "ListName") %}
    {% endif %}
{% elseif listType == "tag_list" %}
    {% if isNameEmpty %}
        {% set header = "Tags" %}
    {% else %}
        {% set header = trans("CeresAgri::Template.itemList" ~ itemListNo ~ "ListName") %}
    {% endif %}
{% endif %}

{% if isHome %}
    <div class="section-header m-b-1">
        <h2>{{ header }}</h2>
    </div>
{% else %}
    <h2>
        {{ header }}
    </h2>
{% endif %}
